.icon-with-badge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    min-width: 40px;
    height: 40px;
    position: relative;
    margin: 0px 4px;
    /* flex-basis: auto; */
}

.icon {
    width: 30px;
    height: 30px;
}

.icon-24 {
    width: 24px;
    height: 24px;
}



.badge {
    background-color: red;
    position: absolute;
    font-size: 14px;
    padding: 4px;
    border-radius: 0.375rem;
    top: -10%;
    right: 0;
    font-weight: 600;
}

.user-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    display: block;
    /* flex-basis: auto; */
}

.icon-with-counter {
    background: #f2f2f2;
    border: none;
    padding: 1px 6px;
}

.icon-with-counter .icon {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.icon-with-counter .counter{
    font-size: 14px;
}

.icon-with-counter:hover {
    cursor: pointer;
}

.icon-with-counter:hover .heart-add path {
    stroke: red;
}

.icon-with-counter:hover .message path {
    stroke: orange;
}

.icon-with-counter:hover .bookmark path {
    stroke: rgb(47, 58, 178);
}

.flip {
    transform: scaleX(-1)
}

.icon-button {
    width: 40px;
    min-height: 40px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 56px;
    min-height: 54px;
    border-radius: 0.375rem;
    padding: 8px 16px;
    background-color: white;
}

.icon-40 {
    width: 40px;
    min-height: 40px;
    padding: 0px 0px;
}

.icon-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.035);
}

.icon-button .icon {
    border-radius: 50%;
}

.icon-button:hover .more rect {
    fill: rgba(0, 0, 0, 0);
}

.check path{
    fill:rgb(47, 58, 178);
}

