.icon-with-badge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    min-width: 40px;
    height: 40px;
    position: relative;
    margin: 0px 4px;
    /* flex-basis: auto; */
}



.badge {
    background-color: red;
    position: absolute;
    font-size: 14px;
    padding: 4px;
    border-radius: 0.375rem;
    top: -10%;
    right: 0;
    font-weight: 600;
}

.user-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    display: block;
    /* flex-basis: auto; */
}