.navbar  {
    padding: 0 16px;
    /* display: flex;
    justify-content: space-around; */
    margin: 0 0;
    /* max-width: 1364px; */
    /* width: 100vw; */
    border-bottom: solid 1px rgb(193, 193, 193);
    background-color: white;
}

.navbar-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    height: 56px;
}

.flex-child {
    display: flex;
}

.left-child {
    flex-grow: 2;
}

.right-child {
    flex-grow: 1;
    justify-content: right;
}